{% extends 'emails/base.html.twig' %}

{% block body %}
    <p>Inconsistencia de suscripciones detectada.</p>
    <ul>
        <li>Comercio: {{ businessName }} (ID {{ businessId }})</li>
        <li>Suscripciones activas detectadas: {{ activeCount }}</li>
        <li>Acción tomada: se cancelaron {{ canceledCount }} duplicadas activas</li>
    </ul>
{% endblock %}
