# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

parameters:
    app.trial_duration_days: 30
    app.mercadopago.access_token: '%env(MERCADOPAGO_ACCESS_TOKEN)%'
    app.mercadopago.mode: '%env(MERCADOPAGO_MODE)%'
    app.mercadopago.webhook_secret: '%env(MERCADOPAGO_WEBHOOK_SECRET)%'
    app.billing.enabled: '%env(bool:APP_BILLING_ENABLED)%'
    app.mail_from: '%env(APP_MAIL_FROM)%'
    app.name: '%env(APP_NAME)%'
    app.platform_notify_emails: '%env(APP_PLATFORM_NOTIFY_EMAILS)%'
    app.emails.enabled: '%env(bool:APP_EMAILS_ENABLED)%'
    app.recaptcha.site_key: '%env(RECAPTCHA_SITE_KEY)%'
    app.recaptcha.secret_key: '%env(RECAPTCHA_SECRET_KEY)%'

    arca.wsaa.homo.wsdls:
        - 'https://wsaahomo.afip.gov.ar/ws/services/LoginCms?WSDL'
    arca.wsaa.prod.wsdls:
        - 'https://wsaa.afip.gov.ar/ws/services/LoginCms?WSDL'
    arca.wsfe.homo.wsdls:
        - 'https://wswhomo.afip.gov.ar/wsfev1/service.asmx?WSDL'
    arca.wsfe.prod.wsdls:
        - 'https://servicios1.afip.gov.ar/wsfev1/service.asmx?WSDL'
        - 'https://wsfev1.afip.gov.ar/wsfev1/service.asmx?WSDL'

    arca.wsfe.homo.locations:
        - 'https://wswhomo.afip.gov.ar/wsfev1/service.asmx'
    arca.wsfe.prod.locations:
        - 'https://servicios1.afip.gov.ar/wsfev1/service.asmx'
        - 'https://wsfev1.afip.gov.ar/wsfev1/service.asmx'

    arca.soap.timeout: 20
    arca.soap.connection_timeout: 10
    arca.soap.user_agent: 'ItaStock/ARCA SOAP'
    arca.soap.ca_bundle: '%env(default::ARCA_CA_BUNDLE)%'

    arca.wsfe.prod.ssl_ciphers: 'DEFAULT@SECLEVEL=1'
    arca.wsfe.prod.lower_seclevel_enabled: true
    arca.wsfe.homo.lower_seclevel_enabled: false
    arca.wsfe.prod.disable_secondary_host: true

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $environment: '%kernel.environment%'
            $trialDurationDays: '%app.trial_duration_days%'
            $mercadoPagoMode: '%app.mercadopago.mode%'
            $mailFrom: '%app.mail_from%'
            $appName: '%app.name%'
            $platformNotifyEmails: '%app.platform_notify_emails%'
            $emailsEnabled: '%app.emails.enabled%'
            $recaptchaSiteKey: '%app.recaptcha.site_key%'
            $recaptchaSecretKey: '%app.recaptcha.secret_key%'

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Tests/'
            - '../src/var/'

    App\Service\SubscriptionContext:
        public: true

    App\Service\MercadoPagoClient:
        arguments:
            $accessToken: '%app.mercadopago.access_token%'
            $mode: '%app.mercadopago.mode%'
            $webhookSecret: '%app.mercadopago.webhook_secret%'

    App\Service\ArcaSoapClientFactory:
        arguments:
            $wsaaHomoWsdls: '%arca.wsaa.homo.wsdls%'
            $wsaaProdWsdls: '%arca.wsaa.prod.wsdls%'
            $wsfeHomoWsdls: '%arca.wsfe.homo.wsdls%'
            $wsfeProdWsdls: '%arca.wsfe.prod.wsdls%'
            $wsfeHomoLocations: '%arca.wsfe.homo.locations%'
            $wsfeProdLocations: '%arca.wsfe.prod.locations%'
            $arcaCaBundle: '%arca.soap.ca_bundle%'
            $wsaaHomoWsdlOverride: '%env(default::ARCA_WSAA_HOMO_WSDL)%'
            $wsaaProdWsdlOverride: '%env(default::ARCA_WSAA_PROD_WSDL)%'
            $wsfeHomoWsdlOverride: '%env(default::ARCA_WSFE_HOMO_WSDL)%'
            $wsfeProdWsdlOverride: '%env(default::ARCA_WSFE_PROD_WSDL)%'
            $httpTimeout: '%arca.soap.timeout%'
            $connectionTimeout: '%arca.soap.connection_timeout%'
            $userAgent: '%arca.soap.user_agent%'
            $trace: true
            $wsfeProdSslCiphers: '%arca.wsfe.prod.ssl_ciphers%'
            $wsfeProdLowerSecLevelEnabled: '%arca.wsfe.prod.lower_seclevel_enabled%'
            $wsfeHomoLowerSecLevelEnabled: '%arca.wsfe.homo.lower_seclevel_enabled%'
            $wsfeProdDisableSecondaryHost: '%arca.wsfe.prod.disable_secondary_host%'

    App\EventSubscriber\ProductSearchIndexSubscriber:
        tags:
            - { name: doctrine.event_subscriber }
