# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    app.trial_duration_days: 30
    app.mercadopago.access_token: '%env(MERCADOPAGO_ACCESS_TOKEN)%'
    app.mercadopago.mode: '%env(MERCADOPAGO_MODE)%'
    app.mercadopago.webhook_secret: '%env(MERCADOPAGO_WEBHOOK_SECRET)%'
    app.billing.enabled: '%env(bool:APP_BILLING_ENABLED)%'
    app.mail_from: '%env(APP_MAIL_FROM)%'
    app.name: '%env(APP_NAME)%'
    app.platform_notify_emails: '%env(APP_PLATFORM_NOTIFY_EMAILS)%'
    app.emails.enabled: '%env(bool:APP_EMAILS_ENABLED)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
            Symfony\Component\HttpFoundation\Session\SessionInterface: '@session'
            $environment: '%kernel.environment%'
            $trialDurationDays: '%app.trial_duration_days%'
            $mercadoPagoMode: '%app.mercadopago.mode%'
            $mailFrom: '%app.mail_from%'
            $appName: '%app.name%'
            $platformNotifyEmails: '%app.platform_notify_emails%'
            $emailsEnabled: '%app.emails.enabled%'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Tests/'
            - '../src/var/'

    App\Service\SubscriptionContext:
        public: true

    App\Service\MercadoPagoClient:
        arguments:
            $accessToken: '%app.mercadopago.access_token%'
            $mode: '%app.mercadopago.mode%'
            $webhookSecret: '%app.mercadopago.webhook_secret%'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
