{% extends 'base.html.twig' %}

{% block title %}Nueva lista de precios{% endblock %}

{% block body %}
<h1 class="h3 mb-3">Nueva lista de precios</h1>
{% include 'price_list/_form.html.twig' with {form: form} %}
{% endblock %}
