<p>Hola {{ user.fullName ?? user.email }},</p>

<p>Recibimos una solicitud para restablecer tu contraseña en ItaStock.</p>

<p>
    Haz clic en el siguiente enlace para continuar:<br>
    <a href="{{ resetUrl }}">{{ resetUrl }}</a>
</p>

<p>Este enlace expira en 1 hora. Si no solicitaste este cambio, ignora este correo.</p>

<p>Gracias,</p>
<p>Equipo ItaStock</p>
