{% extends 'base.html.twig' %}
{% block body %}
<h1 class="h4">Reglas fiscales</h1>
<table class="table table-sm"><tr><th>Nombre</th><th>Aplica a</th><th>ARCA</th><th></th></tr>{% for r in rules %}{% set ap = appliesToLabels[r.appliesTo]|default(r.appliesTo) %}{% if r.appliesTo == 'PRODUCT' %}{% set ap = ap ~ ': ' ~ (r.product ? r.product.name : 'Incompleta') %}{% elseif r.appliesTo == 'CATEGORY' %}{% set ap = ap ~ ': ' ~ (r.category ? r.category.name : 'Incompleta') %}{% elseif r.appliesTo == 'CUSTOMER' %}{% set ap = ap ~ ': ' ~ (r.customer ? r.customer.name : 'Incompleta') %}{% elseif r.appliesTo == 'CUSTOMER_IVA_CONDITION' %}{% set ap = ap ~ ': ' ~ (ivaConditionOptions[r.customerIvaConditionId]|default('Incompleta')) %}{% endif %}<tr><td>{{ r.name }}</td><td>{{ ap }}</td><td>{% if r.reportToArca and not r.arcaTributeId %}<span class="badge text-bg-warning">Sin código ARCA</span>{% else %}{{ r.arcaTributeId ?: '-' }}{% endif %}</td><td><a href="{{ path('app_fiscal_rule_edit',{id:r.id}) }}">Editar</a></td></tr>{% endfor %}</table>
{% endblock %}
