{% extends 'base.html.twig' %}
{% block body %}
<h1 class="h4">Simulador</h1>
<form method="post"><input type="hidden" name="_token" value="{{ csrf_token('fiscal_rule_simulator') }}"><button class="btn btn-primary">Simular</button></form>
{% endblock %}
